<ion-content class="icocon">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <div class="formulario">
          <div class="image">
            <video #video class="video-element" autoplay></video>
            <canvas #canvas class="canvas-element" width="640" height="480" hidden></canvas>
            <ion-button shape="round" (click)="captureImage()">
              REGISTRAR
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
