<ion-content class="icocon ion-padding">
  <label></label>
  <div class="content">
    <ion-label class="lbltit">AJUSTE DE HORARIO DE ENTRADA Y SALIDA</ion-label>
    <ion-item lines="none" class="iitman">
      <div class="shift">
        <h2>Turno Mañana</h2>
        <div class="time-entry">
          <div class="input-group">
            <ion-label>Entrada</ion-label>
            <ion-input type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>AM</span>
          </div>
          <div class="input-group">
            <ion-label>Salida</ion-label>
            <ion-input type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>AM</span>
          </div>
          <ion-button>Guardar</ion-button>
        </div>
        <div class="time-entry">
          <div class="input-group input-en">
            <ion-input type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>AM</span>
          </div>
          <div class="input-group input-sal inpen">
            <ion-input class="inpen" type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>AM</span>
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="none" class="iittar">
      <div class="shift">
        <h2>Turno Tarde</h2>
        <div class="time-entry">
          <div class="input-group">
            <ion-label>Entrada</ion-label>
            <ion-input type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>PM</span>
          </div>
          <div class="input-group">
            <ion-label>Salida</ion-label>
            <ion-input type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>PM</span>
          </div>
          <ion-button>Guardar</ion-button>
        </div>
        <div class="time-entry">
          <div class="input-group input-en">
            <ion-input type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>PM</span>
          </div>
          <div class="input-group input-sal inpen">
            <ion-input class="inpen" type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>PM</span>
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="none" class="iitnoc">
      <div class="shift">
        <h2>Turno Noche</h2>
        <div class="time-entry">
          <div class="input-group">
            <ion-label>Entrada</ion-label>
            <ion-input type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>PM</span>
          </div>
          <div class="input-group">
            <ion-label>Salida</ion-label>
            <ion-input type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>PM</span>
          </div>
          <ion-button>Guardar</ion-button>
        </div>
        <div class="time-entry">
          <div class="input-group input-en">
            <ion-input type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>PM</span>
          </div>
          <div class="input-group input-sal inpen">
            <ion-input class="inpen" type="number" min="1" max="12"></ion-input>
            :
            <ion-input class="inpam" type="number" min="0" max="59"></ion-input>
            <span>PM</span>
          </div>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
